/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea/
dist/
node_modules/
character-service/node_modules
account-service/node_modules
combat-service/node_modules
.DS_Store
combat-service/combat-service.log
